
src/lengua/Assets/GoogleService-Info.plist.meta
src/lengua/Assets/Plugins/Android/Firebase/res/values.meta
src/lengua/Logs/Packages-Update.log
src/lengua/Packages/manifest.json
src/lengua/ProjectSettings/ProjectVersion.txt
src/lengua/ProjectSettings/XRSettings.asset
